.container{
    margin-top: 10vh;
    min-height: 100vh;
    .body{
        margin-left: 10vw;
        h1{
            margin: 0px;
            margin-top: 10px;
            font-size: 5vw;
            line-height: 5vw;
            text-transform: uppercase;
        }
        p{
            color: black;
            margin: 0px;
            margin-top: 10px;
            font-size: 2vw;
            font-weight: lighter;
            text-transform: uppercase;
            span{
                position: relative;
                display: inline-block;
            }
        }
    }
    .images{
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        margin-top: 5vh;
        .imageContainer{
            position: absolute;
            overflow: hidden;
            img{
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
            &:nth-of-type(1){
                height: 60vh;
                width: 50vh;
                z-index: 1;
            }
            &:nth-of-type(2){
                left: 55vw;
                top: 15vh;
                height: 40vh;
                width: 30vh;
                z-index: 2;
            }
            &:nth-of-type(3){
                left: 27.5vw;
                top: 40vh;
                height: 25vh;
                width: 20vh;
                z-index: 3;
            }&:nth-of-type(4){
                left: 10.5vw;
                top: 25vh;
                height: 20vh;
                width: 30vh;
                z-index: 4;
            }&:nth-of-type(5){
                right: 10.5vw;
                top: 45vh;
                height: 20vh;
                width: 30vh;
                z-index: 5;
            }
            &:nth-of-type(6){
                right: 12.5vw;
                top: 5vh;
                height: 20vh;
                width: 30vh;
                filter: blur(5px);
                z-index: 4;
            }
            &:nth-of-type(7){
                left: 25.5vw;
                top: 5vh;
                height: 10vh;
                width: 20vh;
                filter: blur(5px);
                z-index: 0;
            }
        }
    }
}

/* efecto blur-up que se quita al cargar */
.blurUp{
    filter: blur(20px);
    transform: scale(1.05);
    transition: filter .6s ease, transform .6s ease;
  }