@import 'tailwindcss';

.hiddenParallaxSection {
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .rotate-x-90 {
    transform: rotateX(90deg) translateY(100px);
  }
  
  .rotate-x-0 {
    transform: rotateX(0deg) translateY(0px);
  }
  
  @media (max-width: 768px) {
    .letter-mobile {
      font-size: 2rem !important;
      padding: 15px 20px !important;
    }
  }


  /* Efecto dither */
  .pruebaa{
    background-image: radial-gradient(transparent 1px, rgb(0, 0, 0) 1px);
    background-size: 4px 4px;
    backdrop-filter:blur(3px);
    mask: linear-gradient(#000 calc(100% - 20px), #0000);
  }
