@import 'tailwindcss';

.hiddenParallaxSection {
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .rotate-x-90 {
    transform: rotateX(90deg) translateY(100px);
  }
  
  .rotate-x-0 {
    transform: rotateX(0deg) translateY(0px);
  }
  
  @media (max-width: 768px) {
    .letter-mobile {
      font-size: 2rem !important;
      padding: 15px 20px !important;
    }
  }


  /* Efecto dither */
  /* .pruebaa{
    background-image: radial-gradient(transparent 1px, rgb(0, 0, 0) 1px);
    background-size: 4px 4px;
    backdrop-filter:blur(3px);
    mask: linear-gradient(#000 calc(100% - 20px), #0000);
  } */


  /* Círculo rodante */
  /* .circular-text {
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    position: relative;
    height: 200px;
    font-weight: bold;
    color: #fff;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
  }
  
  .circular-text span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 24px;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  } */


  /* SCROLL */
  /* Para navegadores Webkit (Chrome, Safari, Edge) */
/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Para Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
} */

  /* Ocultar barra de scroll pero mantener el scroll activo */

/* Chrome, Safari, Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none; /* quita la barra en Firefox */
}

/* IE y Edge antiguos */
html {
  -ms-overflow-style: none;
}